version: '3'

services:

  rhies-client-registry-mongo:
    image: mongo:latest
    container_name: rhies-client-registry-mongo
    restart: always
    ports:
     - "27019:27017"
    volumes:
     - ./disc/rhies-client-registry-mongo/data/:/data/
    logging:
      options:
        max-size: 5m
    deploy:
      resources:
        limits:
          memory: 2048M
        reservations:
          memory: 1024M


  rhies-client-registry-server:
    image: savicsorg/rhies-client-registry:latest
    container_name: rhies-client-registry-server
    ports:
      - "8079:8080"
    restart: always
    depends_on:
      - rhies-client-registry-mongo
    volumes:
      - ./disc/rhies-client-registry-server/:/usr/local/tomcat/RhiesClientRegistry/
    logging:
      options:
        max-size: 5m
    deploy:
      resources:
        limits:
          memory: 2048M
        reservations:
          memory: 1024M
